{% layout "layout.liquid" %}
{% block content %}

<div>
      <legend>Edit your credentials{{ passwords.acctName }}</legend>
    <form action="/keymaster/{{ keymaster._id }}?_method=PUT" method="POST"> 
      <label>
      <label>
        Account Name:<input type="text" name="acctName" value= '{{keymaster.acctName}}' placeholder="Your Account" />
      </label>
      <label>
        User Name:<input type="text" name="userName" value = '{{keymaster.userName}}' placeholder="username@service" />
      </label>
        <label>
        Password:<input type="text" name="passwordKey"value = '{{keymaster.passwordKey}}' placeholder="Password" />
      
    </fieldset>
      <input type="submit" value="Save" />
      </form>
       {% comment %} <a href="/keymaster/{{ keymaster._id }}"> {% endcomment %}
           {% comment %} <form action="/keymaster/:id{{ passwords.id }}?_method=PUT" method="PUT">  {% endcomment %}

</div>


{% endblock %} 