{% layout "layout.liquid" %}
{% block content %}

<div>

 <form action="/keymaster/{{ keymaster._id }}?_method=PUT" method="post">
  <fieldset>
    <legend>Edit {{ keymaster.acctName }}</legend>
        <label>
            Account Name: <input type="text" name="name" placeholder="Account Userame" value="{{keymaster.acctName}}"/>
        </label>
        <label>
            Password: <input type="text" name="color" placeholder="Account Password" value="{{keymaster.password}}"/>
        </label>

    </fieldset>
    <input type="submit" value="update {{keymaster.acctName}}"/>
 </form>

</div>


{% endblock %} 