{% layout "layout.liquid" %}
{% block content %}

<div>

 <form action="/password/{{ password._id }}?_method=PUT" method="post">
  <fieldset>
    <legend>Edit {{ password.acctName }}</legend>
        <label>
            Account Name: <input type="text" name="name" placeholder="Account Userame" value="{{password.acctName}}"/>
        </label>
        <label>
            Password: <input type="text" name="color" placeholder="Account Password" value="{{password.password}}"/>
        </label>

    </fieldset>
    <input type="submit" value="update {{password.acctName}}"/>
 </form>

</div>


{% endblock %} 